<div class="login-bo">
    <div class="card-body">
        <div class="alert-body">
            <h2 mat-dialog-title>¿Esta Seguro que desea eliminar?</h2>
            <p mat-dialog-content>Esto no se podra deshacer!!</p>
        </div>
        <mat-dialog-actions>
            <div class="button-container" style="margin-bottom: 10px;;">
                <button mat-raised-button (click)="close()" color="primary">cancelar</button>
                <button mat-raised-button (click)="accept()" color="warn">Aceptar</button>
            </div>
        </mat-dialog-actions>
    </div>
</div>