<ng-container *ngIf="_sfcontrol">
    <mat-form-field class="w-100" [appearance]="_sfcontrol.data[0]?'outline':''">
      <mat-label *ngIf="_sfcontrol.data[0]">{{_sfcontrol.data[0]}}</mat-label>
      <textarea 
        matInput 
        (blur)="_blurAction.emit(_sfcontrol.value)" 
        (keydown.enter)="_enterKey.emit(_sfcontrol.value)" 
        [required]="_sfcontrol.required"
        [placeholder]="_sfcontrol.label"
        [formControl]="_sfcontrol">
      </textarea>
      <mat-icon *ngIf="_sfcontrol.data[1]" matPrefix>{{_sfcontrol.data[1]}}</mat-icon>
      <mat-hint *ngIf="_sfcontrol.tooltip">{{_sfcontrol.tooltip}}</mat-hint>
      <mat-error *ngIf="_sfcontrol.errors">
        {{_sfcontrol.errors|errorMessage|translate}}
      </mat-error>
    </mat-form-field>
  </ng-container>