<ng-container *ngIf="sfcontrol">
    <mat-form-field class="chip-list w-100" [appearance]="sfcontrol.data[0]?'outline':''">
        <mat-chip-list #chipList aria-label="chips selection">
            <mat-chip *ngFor="let chip of sfcontrol.value?sfcontrol.value.split('; '):[]" 
                [selectable]="selectable" 
                [disabled]="sfcontrol.readOnly"
                [removable]="removable"
                (removed)="remove(chip)">
                {{chip}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
                (blur)="onBlur()"
                [required]="sfcontrol.required"
                [disabled]="sfcontrol.readOnly"
                placeholder="{{sfcontrol.label}}{{sfcontrol.required?' *':''}}..." 
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" 
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
            <mat-hint *ngIf="sfcontrol.tooltip">
                {{sfcontrol.tooltip|translate}}
            </mat-hint>
            <mat-error *ngIf="sfcontrol.errors && chipList.errorState">
                {{sfcontrol.errors|errorMessage|translate}}
            </mat-error>
    </mat-form-field>
</ng-container>