@import '../../../styles.scss';

:host {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
.card-container{
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
    .card-content{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        .signup-btn{
            width: 100%;
            margin: 1rem 0 0.5rem 0;
        }
        .man-quest{
            align-items: center;
            display: flex;
            justify-content: space-between;
            span{
                font-family: 'OpenSans';
                font-size: $font-size-small;
                color: $grey;
            }
        }
        .footer-text{
            margin: 0.3rem 0;
            color: $grey;
            font-family: 'OpenSans';
            font-size: $font-size-small;
            .loglink{
                cursor: pointer;
                color:  $blue;
            }
            .loglink:hover{
                font-weight: bold;
            }
        }
    }
}
