<mat-card class="card-container">
  <mat-card-title>{{"signUp"|translate}}</mat-card-title>
  <mat-card-content class="card-content">
    <automatic-forms 
      class="w-100 mt-1"
      [enableButtons]="false" 
      [form]="form" 
      (submit)="submit()">
    </automatic-forms>
    <button 
      mat-raised-button 
      color="primary"
      class="signup-btn" 
      [disabled]="form.invalid" 
      (click)="sendSignUpCredentials()">
      {{"submit"|translate}}
    </button>
    <div class="error-container" *ngIf="serverError">
      <div class="arrow-up-gadget"></div>
      <div class="server-error">
        {{serverError}}
      </div>
    </div>
    <div class="footer-text text-center">
        {{'doYouHaveAccount'|translate}}
      <span (click)="onGoToLogin()" class="loglink">{{'logIn'|translate}}</span>
    </div>
  </mat-card-content>

</mat-card>