<ng-container *ngIf="_sfcontrol">
    <mat-form-field class="w-100" 
        [appearance]="_sfcontrol.data[4]?'outline':''">
        <mat-label *ngIf="_sfcontrol.data[4]">{{_sfcontrol.data[4]}}</mat-label>
        <input 
            type="text" 
            [required]="_sfcontrol.required"
            [placeholder]="_sfcontrol.label"
            aria-label="Number" 
            matInput 
            [formControl]="myControl"
            [matAutocomplete]="auto">
        <mat-autocomplete 
            [displayWith]="configValue"
            (optionSelected)="optionSelected($event)" 
            autoActiveFirstOption 
            #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions" [value]="option">
                {{option[_sfcontrol.data[3]]}}
            </mat-option>
        </mat-autocomplete>
        <mat-icon *ngIf="_sfcontrol.data[5]" matSuffix>{{_sfcontrol.data[5]}}</mat-icon>
        <mat-hint *ngIf="_sfcontrol.tooltip">{{_sfcontrol.tooltip}}</mat-hint>
        <mat-error *ngIf="_sfcontrol.errors">
            {{_sfcontrol.errors|errorMessage|translate}}
        </mat-error>
    </mat-form-field>
</ng-container>