.login-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .login-form-container{
        width: 100%;
        max-width: 20rem;
    }
}