<div class="login-container">
  <div class="login-form-container">
    <login-form
      [serverError]="error"
      (sendCredentials)="doLogin($event)"
      (forgotPass)="forgotPass()"
      (googleLog)="googleLog()"
      (goSignUp)="goSignUp()"
    ></login-form>
  </div>
</div>