<mat-form-field class="w-100" 
    *ngIf="_sfcontrol" 
    [appearance]="_sfcontrol.data[3]?'outline':''">
    <mat-label *ngIf="_sfcontrol.data[3]">{{_sfcontrol.data[3]}}</mat-label>
    <mat-select
      [value]="_sfcontrol.value" 
      [required]="_sfcontrol.required"
      (selectionChange)="select($event.value)"
      [disabled]="_sfcontrol.readOnly"
      [placeholder]="_sfcontrol.label">
      <mat-option *ngIf="!_sfcontrol.required">{{_sfcontrol.data[5] || 'none'}}</mat-option>
      <mat-option *ngFor="let item of data"
          [value]="item[_sfcontrol.data[1]]">
          {{item[_sfcontrol.data[2]]}}
      </mat-option>
    </mat-select>
    <mat-icon *ngIf="_sfcontrol.data[4]" matSuffix>{{_sfcontrol.data[4]}}</mat-icon>
    <mat-hint *ngIf="_sfcontrol.tooltip">{{_sfcontrol.tooltip}}</mat-hint>
    <mat-error *ngIf="_sfcontrol.errors">
      {{_sfcontrol.errors|errorMessage|translate}}
    </mat-error>
</mat-form-field>