<ng-container *ngIf="_sfcontrol">
  <mat-form-field class="w-100" >
    <mat-label *ngIf="_sfcontrol.data[1]">{{_sfcontrol.data[1]|translate}}</mat-label>
    <input style="border:none;"
      matInput 
      (blur)="_blurAction.emit(_sfcontrol.value)" 
      [type]="_sfcontrol.data[0] || 'text'"
      autocomplete="off"
      [disabled]="_sfcontrol.readOnly"
      (keydown.enter)="_enterKey.emit(_sfcontrol.value)" 
      [required]="_sfcontrol.required"
      [placeholder]="_sfcontrol.label|translate"
      [formControl]="_sfcontrol">
    <mat-icon *ngIf="_sfcontrol.data[2]" matSuffix>{{_sfcontrol.data[2]}}</mat-icon>
    <mat-hint *ngIf="_sfcontrol.tooltip">{{_sfcontrol.tooltip|translate}}</mat-hint>
    <mat-error *ngIf="_sfcontrol.errors">
      {{_sfcontrol.errors|errorMessage|translate}}
    </mat-error>
  </mat-form-field>
</ng-container>