.alert-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    flex-direction: column;
    width: 100%;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    button{
        margin: 0 8px;
    }
}