<div class="alert-body">
    <h2>{{data.title}}</h2>
    <p>{{data.text}}</p>
</div>
<div class="button-container">
    <button mat-raised-button (click)="close()" color="primary">cancelar</button>
    <button mat-raised-button (click)="accept()" color="warn">Aceptar</button>
</div>