<div [ngClass]="{'disabled':_sfcontrol.readOnly}">
    <strong>
        {{_sfcontrol.label}}:
    </strong>
    <div *ngIf="!_sfcontrol.data[0];else transformation">
        {{_sfcontrol.value}}
    </div>
    <ng-template #transformation>
        <div>
            {{_sfcontrol.data[0](_sfcontrol.value)}}
        </div>
    </ng-template>
</div>

