<!-- 
    <ngx-dropzone 
        (change)="onSubmit($event)">
            <ngx-dropzone-label>Subir Archivo</ngx-dropzone-label>
    </ngx-dropzone> -->
<!-- in app.component.html -->
<ngx-dropzone (change)="onSubmit($event)">
    <ngx-dropzone-label>{{'uploadFile'|translate}}</ngx-dropzone-label>

    <ngx-dropzone-preview *ngFor="let item of blobArray" [removable]="true" (removed)="delete(item.blob.name)">
        <ngx-dropzone-label class="card-container">
            <div class="title truncate">
                {{item.blob.name}}
            </div>
            <img class="image" src="{{item.blob.contentSettings.contentType|iconsByType}}" alt="">
            <button  mat-flat-button class="button" (click)="Download(item.downloadLink);$event.stopPropagation()">Descargar</button>
        </ngx-dropzone-label>
    </ngx-dropzone-preview>
</ngx-dropzone>
<!-- <div class="col-md-6 offset-md-3">

    <table id="files">
        <tr>
            <th>Archivo</th>
            <th>Descargar</th>
            <th>Eliminar</th>
        </tr>
        <tr *ngFor="let item of blobArray; let i = index">
            <td>{{item.blob.name}}</td>
            <td><a href="{{item.downloadLink}}"><button (click)="Download(item.name)" style="background-color:steelblue; border-radius: 5px;
                            -webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
                            -moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
                            box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);">Descargar</button></a>
            </td>
            <td><button (click)="delete(item.blob.name)" class="btn-style" style="background-color:grey; border-radius: 5px;
                    -webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
                    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);">x</button></td>
        </tr>
    </table>
</div> -->

<ng-template let-data>
    Hello, {{data.name}}
</ng-template>