#files {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-radius: 20px;
}

#files td, #files th {
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 20px;
}

#files tr:nth-child(even){background-color: #f2f2f2;border-radius: 20px;}

#files tr:hover {background-color: #ddd;border-radius: 20px;}

#files th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(32, 28, 85);
  color: white;
  border-radius: 20px;
}

.button-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  padding: 16px;
  .btn-style{
      height: 35px;
      width: 50%;
      max-width: 10rem;
      margin: 0 1%;
  }
}

.card-container{
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  
  .title{
    margin-top: 1rem;
    color:black;
    width: 100%;
    font-size: 12px;
  }

  .image{
    width: 2rem;
    object-fit: cover;
  }

  .button{
    margin: auto 0 8px;
  }
}