<ng-container *ngIf="_sfcontrol">
    <mat-form-field class="w-100" [appearance]="_sfcontrol.data[2]?'outline':''">
            <mat-label *ngIf="_sfcontrol.data[2]">{{_sfcontrol.data[2]}}</mat-label><input 
            matInput 
            [required]="_sfcontrol.required"
            [matDatepicker]="picker" 
            [placeholder]="_sfcontrol.label"
            [ngModel]="date"
            (ngModelChange)="change($event)"
            >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker 
            #picker 
            startView="year"
            [startAt]="startDate">
        </mat-datepicker>
        <mat-hint *ngIf="_sfcontrol.tooltip">{{_sfcontrol.tooltip}}</mat-hint>
        <mat-error *ngIf="_sfcontrol.errors">
            {{_sfcontrol.errors|errorMessage}}
        </mat-error>
    </mat-form-field>
</ng-container>