<ng-container *ngIf="_sfcontrol">
  <mat-form-field class="w-100" [appearance]="_sfcontrol.data[1]?'outline':''">
    <mat-label *ngIf="_sfcontrol.data[1]">{{_sfcontrol.data[1]}}</mat-label>
    <input 
      matInput 
      (blur)="_blurAction.emit(_sfcontrol.value)" 
      type="text"
      [textMask]="{mask: _sfcontrol.data[0]}"
      disabled
      [disabled]="_sfcontrol.readOnly"
      autocomplete="off"
      (keydown.enter)="_enterKey.emit(_sfcontrol.value)" 
      [required]="_sfcontrol.required"
      [placeholder]="_sfcontrol.label"
      [formControl]="_sfcontrol">
    <mat-icon *ngIf="_sfcontrol.data[2]" matSuffix>{{_sfcontrol.data[2]}}</mat-icon>
    <mat-hint *ngIf="_sfcontrol.tooltip">{{_sfcontrol.tooltip}}</mat-hint>
    <mat-error *ngIf="_sfcontrol.errors">
      {{_sfcontrol.errors|errorMessage|translate}}
    </mat-error>
  </mat-form-field>
</ng-container>
