<ng-container *ngIf="_sfcontrol">
    <mat-checkbox 
    [disabled]="_sfcontrol.readOnly"
    class="w-100 mt-1 d-block"
    [formControl]="_sfcontrol"
    >{{_sfcontrol.label}}
    </mat-checkbox>
</ng-container>
