<div class="form-container" *ngIf="form">

  <ng-container *ngFor="let item of form.controls | keys:false | arrayFilter:'hidden' : false"
    [ngSwitch]="item.type">
    <control-input *ngSwitchCase="controlTypes.text" [sfcontrol]="item"></control-input>
    <control-input *ngSwitchCase="controlTypes.numeric" [sfcontrol]="item"></control-input>
    <control-select *ngSwitchCase="controlTypes.dropdown" [sfcontrol]="item"></control-select>
    <control-checkbox *ngSwitchCase="controlTypes.boolean" [sfcontrol]="item"></control-checkbox>
    <control-autocomplete *ngSwitchCase="controlTypes.autocomplete" [sfcontrol]="item"></control-autocomplete>
    <control-datepicker *ngSwitchCase="controlTypes.date" [sfcontrol]="item"></control-datepicker>
    <control-text-area *ngSwitchCase="controlTypes.longText" [sfcontrol]="item"></control-text-area>
    <control-chips *ngSwitchCase="controlTypes.chips" [sfcontrol]="item"></control-chips>
    <control-masked-input  *ngSwitchCase="controlTypes.mask" [sfcontrol]="item"></control-masked-input>
    <control-read-only *ngSwitchCase="controlTypes.readOnly" [sfcontrol]="item"></control-read-only>
  </ng-container>

</div>
<div *ngIf="enableButtons" class="button-container mt-3 w-100">
  <button class="btn-style" color="primary" [disabled]="form.invalid || form.pristine" (click)="submitAction()" mat-raised-button>
    {{successText | translate}}
  </button>
  <button class="btn-style" color="accent" *ngIf="form?.getIdPkey()?.value" (click)="deleteAction()" mat-raised-button>
    {{deleteText | translate}}
  </button>
  <button class="btn-style" (click)="cancelAction()" color="primary" mat-raised-button>
    {{cancelText}}
  </button>
  <!-- <button *ngIf="form.valid"  
  class="btn-style"
  color="primary" 
  (click)="deleteAction()"
  color="warn"
  [disabled]="!form.valid"
  mat-raised-button>
  {{deleteText}}
  </button> -->
</div>