<!-- in app.component.html -->
<ngx-dropzone 
[multiple]="_sfcontrol.data[0]" 
[accept]="_sfcontrol.data[1]"
[maxFileSize]="_sfcontrol.data[2]"
(change)="onSelect($event)">
    <ngx-dropzone-label>{{_sfcontrol.label}}</ngx-dropzone-label>
    <ngx-dropzone-preview *ngFor="let f of _sfcontrol.value" [removable]="true" (removed)="onRemove(f)">
        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
    </ngx-dropzone-preview>
</ngx-dropzone>