.sign-up-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .sign-up-form-container{
        width: 100%;
        max-width: 25rem;
    }
}