<div class="sign-up-container">
    <div class="sign-up-form-container">
      <sign-up-form
        [serverError]="error"
        (sendCredentials)="createUser($event)"
        (goToLogin)="goToLogin()"
      ></sign-up-form>
    </div>
  </div>