@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$white:#ffffff;
$blue:blue;
$gray-light: #cccccc;
$danger:rgb(244, 67, 54);;
$grey:grey;
$light-grey:#f2f2f2;
$pickled-Bluewood:#2D3E50;
$athens-gray:#EEEFF3;

$font-size-xsmall: 10px;
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-medium: 20px;
$font-size-large: $font-size-base*1.5;
$font-size-xlarge: 26px;
$font-size-xxlarge: 36px;

$font-size-h1: 60px;
$font-size-h2: 40px;
$font-size-h3: 32px;
$font-size-h4: 24px;
$font-size-h5: 20px;
$font-size-h6: 16px;

$screen-size-mobile:576px;
$screen-size-tablet:768px;
$screen-size-laptop:992px;
$screen-size-desktop:1200px;

.primary{
    background-color: $blue;
    color:$white;
}

body{
    margin: 0;
}


.w{
    &-100{
        width: 100% !important;
    }
    &-90{
        width: 90% !important;
    }
    &-80{
        width: 80% !important;
    }
    &-70{
        width: 70% !important;
    }
    &-50{
        width: 50% !important;
    }
}
.mt{
    &-1{
        margin-top: 1rem !important;
    }
    &-2{
        margin-top: 2rem !important;
    }
    &-3{
        margin-top: 3rem !important;
    }
    &-4{
        margin-top: 4rem !important;
    }
    &-5{
        margin-top: 5rem !important;
    }
}

.d{
    &-block{
        display: block !important;
    }
    &-none{
        display: none !important;
    }
    &-flex{
        display: flex !important;
    }
}

.z-elevation{
    &-1{
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    }
}

.error-container{
    display: flex;
    margin-bottom: 0.5rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .server-error{
        background-color: $danger;
        color:$light-grey;
        font-family: 'OpenSans';
        font-size: $font-size-xsmall;
        font-weight: 100;
        text-align: center;
        padding: 0.5rem 1rem;
        margin: 0 1rem;
        border-radius: 0.4rem;
    }
    .arrow-up-gadget {
        width: 0; 
        height: 0; 
        border-left: 0.5rem solid transparent;
        border-right: 0.5rem solid transparent;
        border-bottom: 0.8rem solid $danger;
        text-align: center;
      }
}

.mat-form-field {
    &.no-padding{
        .mat-form-field-wrapper{
            margin: 0;
            padding: 0;
        }
        .mat-form-field-infix{
            padding: 0.4rem 0;
        }
    }
}

.form-container{
    display: grid;
    grid-template-columns:repeat( auto-fill, minmax(15rem, 1fr));
    grid-gap: 1rem;
}

.simple-container{
    width: 100%;
    box-sizing: border-box;
    padding: 0 2rem;
    max-width: 768px;
    margin: 2rem auto;
}

.app-container{
    width: 100%;
    box-sizing: border-box;
    padding: 0 2rem;
    max-width: 1200px;
    margin: 2rem auto;
}

.btn{
    max-width: 15rem;
}

.spinner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 0.4;
    z-index: 1060;
    background-color: black;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-dialog-container .mat-dialog-container {
    max-height: calc(100vh - 2rem);
}