@import "../../../styles.scss";

.sidenav-container {
    width: 100%;
    min-height: 100vh;
    padding: 0;
    .navBar{
        width: 100%;
        display: flex;
        height: 5rem;
        justify-content: center;
        background-color: $pickled-Bluewood;
        color: $white;
        .navbar-internal{
            width: 98%;
            padding: 20px 26px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .app-logo{
                display: flex;
                justify-content: center;
                .project-logo{
                    background-color: transparent;
                    color:$white;
                    .project-name{
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: 100;
                    }
                    @media only screen and (max-width: $screen-size-laptop) {
                        .project-name{
                            display: none;
                        }
                    }
                }
            }
            .search-field{
                width: 30%;
                border-radius: 5px;
                max-width: 35rem;
                padding: 0;
                background-color: $white;
                .icon{
                    color: $pickled-Bluewood;
                }
                input{
                    color:$pickled-Bluewood;
                }
            }
            .options-container{
                display: flex;
                justify-content: center;
                button{
                    margin: 0 6px;
                }
            }
            @media only screen and (max-width: $screen-size-mobile) {
                .options-container{
                    display: none;
                }
            }
            .user-info-container{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding: 0.5rem;
                cursor: pointer;
                .user-full-name{
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 100;
                }
                @media only screen and (max-width: $screen-size-laptop) {
                    .user-full-name{
                        display: none;
                    }
                }
                .user-photo{
                    border-radius: 50%;
                    color: $white;
                    background-color: $grey;
                    font-size: 3rem;
                    width: 3rem;
                    height: 3rem;
                    margin-right: 0.4rem;
                }
            }
        }
    }
    .drawer-container{
        height: calc(100vh - 5rem);
        .drawer{
            background-color: $white;
            min-width: 300px;
            height: 100%;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
        }
        .drawer-content{
            background-color: $athens-gray;
            padding: 0 16px;
        }
    }
}


.mat-tree-container{
    background-color: $white;
    color: $pickled-Bluewood;
    ul, li {
        margin-top: 0;
        margin-bottom: 0;
        list-style-type: none;
    }

    .mat-tree-invisible {
        display: none;
    }

    .mat-tree-node{
        background-color: transparent;
        .item-btn{
            cursor: pointer;
            background-color: transparent;
        }
    }
}

