@import '../../../styles.scss';

th.mat-sort-header-sorted {
    color: black;
}

.table-container {
    max-height: calc(100vh - 13rem);
    overflow: auto;

    .rows {
        cursor: pointer;

        &:hover {
            background-color: $athens-gray;
        }
    }
}

.cell-margin {
    margin: 0 8px;
}


.table-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 0 4px;
}