<div class="table-container">
  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8 w-100">
    <ng-container [matColumnDef]="column.name"
      *ngFor="let column of structure | arrayFilter:'order':0:false | orderArray:{order:'asc'}">
      <th mat-header-cell *matHeaderCellDef >
        <div class="table-header-container">
          <div mat-sort-header>
            {{column.label}}
          </div>
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)"  (focus)="setupFilter(column.name)" placeholder="{{'SearchBy'|translate}} {{column.label}}">
          </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let row">
        <div class="truncate cell-margin" [ngSwitch]="column.type">
          <ng-container *ngSwitchCase="controlTypes.pkey">{{row[column.name]}}</ng-container>
          <ng-container *ngSwitchCase="controlTypes.text">{{row[column.name]}}</ng-container>
          <ng-container *ngSwitchCase="controlTypes.dropdown">{{row[column.name]}}</ng-container>
          <ng-container *ngSwitchCase="controlTypes.autocomplete">{{row[column.name]}}</ng-container>
          <ng-container *ngSwitchCase="controlTypes.longText">{{row[column.name]}}</ng-container>
          <ng-container *ngSwitchCase="controlTypes.chips">[{{row[column.name]}}]</ng-container>
          <ng-container *ngSwitchCase="controlTypes.boolean">{{row[column.name] ? column.data[0] : column.data[1]}}
          </ng-container>
          <ng-container *ngSwitchCase="controlTypes.actions">
            <button (click)="action.emit(btn.name);$event.stopPropagation()" *ngFor="let btn of column.data"
              [color]="btn.color" mat-icon-button>
              <mat-icon>{{btn.icon}}</mat-icon>
            </button>
          </ng-container>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row
      *matHeaderRowDef="structure | arrayFilter:'order':0:false | orderArray:{order:'asc'} | orderTableColumns; sticky: true">
    </tr>
    <tr mat-row class="rows" [ngStyle]="{'background-color':row.tableListRowColor?row.tableListRowColor:'none'}"
      (click)="clickedItem(row)"
      *matRowDef="let row; columns: structure | arrayFilter:'order':0:false | orderArray:{order:'asc'} | orderTableColumns;">
    </tr>
  </table>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 20, 30, 40]" showFirstLastButtons></mat-paginator>