@import '../../../styles.scss';
:host {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.card-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .login-btn{
        width: 100%;
        margin: 1rem 0 0.4rem 0;
        color: $white;
    }
    .for-pass{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .lock-icon{
            font-size: $font-size-xsmall;
            color: $grey;
        }
        .for-label{
            cursor: pointer;
            color:$grey;
            font-family: 'OpenSans';
            font-size: $font-size-xsmall;
        }
    }
    .btn-cont{
        width: 100%;
        margin: 0.3rem 0;
        font-size: $font-size-xsmall;
        font-weight: bolder;
        .btn-logo-goo{
            width: 1.2rem;
        }
    }
    .footer-text{
        margin: 0.3rem 0;
        color: grey;
        font-family: 'OpenSans';
        font-size:$font-size-xsmall;
        .signlink{
            cursor: pointer;
            color:  $blue;
        }
        .signlink:hover{
            font-weight: bold;
        }
    }
}






  