<mat-card>
    <mat-card-title>{{"logIn"|translate}}</mat-card-title>
    <mat-card-content class="card-content">
        <automatic-forms 
            class="w-100 mt-1"
            [enableButtons]="false" 
            [form]="form" 
            (submit)="submit()">
        </automatic-forms>
        <div class="for-pass">
            <span (click)="forgotPass.emit()" class="for-label">
                <i class="lock-icon material-icons">lock_outline</i>
                {{"forgotPassword"|translate}}
            </span>
        </div>
        <button 
            mat-raised-button 
            color="primary"
            class="login-btn" 
            [disabled]="form.invalid" 
            (click)="sendAuthCredentials()">
            {{"submit"|translate}}
        </button>
        <div class="error-container" *ngIf="serverError">
            <div class="arrow-up-gadget"></div>
            <div class="server-error">
                {{serverError}}
            </div>
        </div>
        <div class="custom-divider">
            <span></span>
            <p>{{"or"|translate}}</p>
            <span></span>
        </div>
        <button 
            (click)="googleLog.emit()" 
            mat-stroked-button 
            class="btn-cont" 
            color="warn">
            <img 
                class="btn-logo-goo" 
                src="../../../assets/icons/google-logo.png" 
                alt="">
            {{"continueWithGoogle"|translate}}
            </button>
        <div class="footer-text text-center">
            {{"doYouNeedAnAccount"|translate}}
            <span (click)="goSignUp.emit()" class="signlink">{{"singUp"|translate}}</span>
        </div>
    </mat-card-content>
</mat-card>